.header {
    width: 100%;
    height: 60px;
    background-color: rgb(78, 112, 56);
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: "Bree Serif", serif;
    z-index: 1px;
}
.header > ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin-left: -70px;
    margin-right: 20px;
}
.header > ul > li {
    margin-left: 90px;
    margin-top: 20px;
    .anav {
        display: inline-block;
        position: relative;
    }
    .anav::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #e0e0e0;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    .anav:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
.header > ul > li > a {
    text-decoration: none;
}
.header > a > img {
    width: 150px;
    height: 150px;
}
.footer {
    background-color: #181818;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Bree Serif", serif;
}
.footer {
    p {
        margin-left: 20px;
    }
}