.conteiner {
    animation-name: register-animation;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-size: 100%;
}
.register {
    width: 100%;
    margin-top: 100px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    .login {
        margin-right: 120px;
        backdrop-filter: blur(20px);
        background: transparent;
        width: 600px;
        height: auto;
        border-color: rgb(98,98,98);;
        border-color: linear-gradient(90deg, rgba(98,98,98,1) 15%, rgba(94,94,94,1) 51%, rgba(139,139,139,1) 100%);
        border-style: solid;
        border-width: 2px;
        display: flex;
        flex-direction: column;
        h2 {
            background-color: black;
            width: 100%;
            height: 20%;
            background: rgb(88,108,86);
            background: linear-gradient(90deg, rgba(88,108,86,1) 15%, rgba(74,93,60,1) 51%, rgba(50,74,42,1) 100%);
            border-color: rgb(98,98,98);
            border-style: solid;
            border-width: 2px;
            border-top: none;
            border-right: none;
            border-left: none;
            display: flex;
            align-items: center;
            span {
                margin-left: 5px;
            }
        }
        form {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            div.log-last {
                display: flex;
                justify-content: space-around;
                margin-left: inherit;
                input[type=submit] {
                    background-color: rgb(88,108,86);
                    border-color: hsla(0,0%,100%,.04);
                    width: auto;
                    height: 35px;
                    font-size: 20px;
                }
                input[type=button] {
                    background-color: rgb(88,108,86);
                    border-color: hsla(0,0%,100%,.04);
                    width: auto;
                    height: 35px;
                    font-size: 20px;
                }
                input[type=submit]:hover {
                    background-color: rgb(109, 131, 107);
                }
                input[type=button]:hover {
                    background-color: rgb(109, 131, 107);
                }
            }
            div {
                width: 100%;
                height: 60px;
                display: flex;
                margin-left: 30px;
                label {
                    margin-right: 10px;
                    align-self: center;
                }
                input[type=text] {
                    background: #232528;
                    border-color: hsla(0,0%,100%,.04);
                    width: 75%;
                    height: 40px;
                    font-size: 18px;
                }
                input[type=checkbox]{
                    background-color: rgb(109, 131, 107);
                }
                input[type=email] {
                    background: #232528;
                    border-color: hsla(0,0%,100%,.04);
                    width: 75%;
                    height: 40px;
                    font-size: 18px;
                }
                input[type=password] {
                    background: #232528;
                    border-color: hsla(0,0%,100%,.04);
                    width: 75%;
                    height: 40px;
                    font-size: 18px;
                }input[type=text]:focus {
                    border-width: 3px;
                }
                input[type=password]:focus {
                    border-width: 3px;
                }
                input[type=email]:focus {
                    border-width: 3px;
                }
            }
        }
    }
}
@keyframes register-animation {
    0% {
        background-image: url(../imgs/humvee.jpg);
    } 20% {
        background-image: url(../imgs/humvee.jpg);
    } 21% {
        background-image: url(../imgs/Navy.jpg);
    } 40% {
        background-image: url(../imgs/Navy.jpg);
    } 41% {
        background-image: url(../imgs/usmc-heavy.jpg);
    } 60% {
        background-image: url(../imgs/usmc-heavy.jpg);
    } 61% {
        background-image: url(../imgs/tanks.jpg);
    } 80% {
        background-image: url(../imgs/tanks.jpg);
    } 81% {
        background-image: url(../imgs/Polish.jpg);
    } 99% {
        background-image: url(../imgs/Polish.jpg);
    } 100% {
        background-image: url(../imgs/humvee.jpg);
    }
}